body {
    color: #5a6275;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    background: rgba(236,110,76,0.35)
  }
  h1 {
    color: #5a6275;
    margin: 0;
    display: inline;
    font-weight: 300;
    font-size: 40px;
  }
  
  h2 {
    color: #5a6275;
    font-size: 20px;
    margin: 0;
    display: inline;
    font-weight: 200;
  }
  
  ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;  
    font-size: 13px;   
}

  a {
    text-decoration: none;
    color: #EC6E4C;
  }
  
  a:hover {
    color: #5a6275;
  }

.card {
  box-shadow: 0 0 1em #EC6E4C;
}  

.location-and-weather {
  margin-top: 20px;
}

  .cities-list {
    font-size: smaller;
  }
  
  .float-left {
    float: left;
  }

  .current-degrees {
    color: #5a6275;
    font-weight: 300;
    font-size: 40px;
    margin-right: 5px;
  }
  
.units {
  position: relative;
  top: 8px;
}

  .sun-icon {
    color: #EC6E4C;
    font-size: 30px;
  }
  
  .cloud-icon {
    color: #939aa9;
    font-size: 30px;
  }
  
  .main-icon {
    font-size: 80px;
  }
  
  .rain-icon {
    color: #939aa9;
    font-size: 30px;
  }
  
  .weather-icon-big img {
    height: 120px;
    width: 120px;
   
  }
  .weather-icons-aligned {
    text-align: center;
  }
  
  .weather-icons-aligned .overlay-sun {
    position: relative;
    left: 15px;
    top: -10px;
  }
  
  .weather-icons-aligned .overlay-cloud {
    position: relative;
    left: -5px;
  }
  
  .list-of-days {
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .list-of-temperature {
    margin-top: 20px;
    text-align: center;
  }
  
  .units .active {
    color: #5a6275;
    cursor: default;
    
}

.units .active:hover {
    text-decoration: none;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-date {
  text-transform: capitalize;
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: smaller;
}

.weather-forecast-temperature-max {
  color:#EC6E4C;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}